.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.my-button {
  border: 1px solid blue;
  background-color: white;
}

.meal-thumb {
  width: 256px;
  height: 256px;
  margin-top: 10px;
}

.meal-thumb-text {
  margin-top: 0px;
}

.results-list {
  list-style: none;
}

.instructions {
  font-size: large;
}

.instructions-header {
  margin-bottom: 0px;
}

.spinner {
  margin-top: 20px;
}

.ingredient-list {
  text-align: left;
  display: inline-block;
  font-size: large;
}

.ingredient-list-item {
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
}

.results-per-page {
  margin-bottom: 50px;
}

.name-search {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ingredients-header {
  margin-top: 30px;
}

.batch-dropdown-div {
  text-align: center;
}

.batch-dropdown {
  width: 200px;
  text-align: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 25px;
}